<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<connectionStrings>
		<clear />
		<add name="sqlconstr" connectionString="Data Source=localhost;Initial Catalog=APIItemLog;User ID=sa;Password=000000" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<appSettings>
	  <add key="log4net" value="log4net_local.config" />
	</appSettings>
</configuration>
